we will Predict the stock Price movement whether it will go up or down based on top 10 news Headlines

class 1 = the stock price increased

class 0 = the stock price stayed or decreased

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Data/Data.csv',encoding='ISO-8859-1') 
df.head(2)

         Date  ...                         Top25
0  2000-01-03  ...            Recovering a title
1  2000-01-04  ...  Millennium bug fails to bite

[2 rows x 27 columns]

In [5]:
df.tail(2)

            Date  ...                                              Top25
4099  2016-06-30  ...  Law Enforcement Sources: Gun Used in Paris Ter...
4100  2016-07-01  ...  Ozone layer hole seems to be healing - US &amp...

[2 rows x 27 columns]

In [6]:
train = df[df['Date'] < '20150101']
test = df[df['Date'] > '20150102']

In [8]:
train.shape,test.shape,df.shape

((3975, 27), (126, 27), (4101, 27))

In [21]:
## Redmoving Punctuation
data = train.iloc[:,2:27]
data.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

# Renaming column names for ease of access
list1= [i for i in range(25)]
new_Index=[str(i) for i in list1]
data.columns= new_Index


# Convertng headlines to lower case
for index in new_Index:
    data[index]=data[index].str.lower()

# nw combine all 25 news together
headlines = []
for row in range(0,len(data.index)):
    headlines.append(' '.join(str(x) for x in data.iloc[row,0:25]))

In [24]:
headlines[0]

'a  hindrance to operations   extracts from the leaked reports scorecard hughes  instant hit buoys blues jack gets his skates on at ice cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton s party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar s debut double southgate strikes  leeds pay the penalty hammers hand robson a youthful lesson saints party like it s      wear wolves have turned into lambs stump mike catches testy gough s taunt langer escapes to hit     flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl s successor drawn into scandal the difference between men and women sara denver  nurse turned solicitor diana s landmine crusade put tories in a panic yeltsin s resignation caught opposition flat footed russian roulette sold out recovering a title'

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

## implement BAG OF WORDS
countvector=CountVectorizer(ngram_range=(2,2))
traindataset=countvector.fit_transform(headlines)

# implement RandomForest Classifier
randomclassifier=RandomForestClassifier(n_estimators=200,criterion='entropy')
randomclassifier.fit(traindataset,train['Label'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [32]:
# Predict for the test dataset
# Removing punctuations
data1=test.iloc[:,2:27]
data1.replace("[^a-zA-Z]"," ",regex=True, inplace=True)

# Renaming column names for ease of access
list1= [i for i in range(25)]
new_Index=[str(i) for i in list1]
data1.columns= new_Index


# Convertng headlines to lower case
for index in new_Index:
    data1[index]=data1[index].str.lower()

# nw combine all 25 news together
testheadlines = []
for row in range(0,len(data1.index)):
    testheadlines.append(' '.join(str(x) for x in data1.iloc[row,0:25]))

test_dataset = countvector.transform(testheadlines)
predictions = randomclassifier.predict(test_dataset)

In [33]:
## Import library to check accuracy
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

matrix=confusion_matrix(test['Label'],predictions)
print(matrix)
score=accuracy_score(test['Label'],predictions)
print(score)
report=classification_report(test['Label'],predictions)
print(report)

[[10 46]
 [ 5 65]]
0.5952380952380952
              precision    recall  f1-score   support

           0       0.67      0.18      0.28        56
           1       0.59      0.93      0.72        70

    accuracy                           0.60       126
   macro avg       0.63      0.55      0.50       126
weighted avg       0.62      0.60      0.52       126

In [35]:
testheadlines[0]

'saudi arabia breaks off ties with iran   amid row over saudi execution of shia cleric exclusive  uk government urged to reveal its role in getting saudi arabia onto un human rights council   liberal democrat and green party leaders call on david cameron to reveal whether british government supported saudi bid china halts trading as stocks fall    earthquake measuring     magnitude strikes india a virus linked to shrinking newborns brains is spreading rapidly beyond brazil  epidemic of zika virus suspected  new photos of spacex booster show sooty  but undamaged rocket indian consulate in afghanistan under attack by gunmen iran calls off major hajj denmark responds to swedish border checks with own controls   if the european union cannot protect the external border you will see more and more countries forced to introduce temporary border controls     danish pm david cameron criticised for turning  blind eye  to mass executions in saudi arabia denmark introduces temporary controls along german border israel retaliates to hezbollah bombing at lebanon border   idf currently firing artillery at hezbollah and lebanese army positions china aims to build    nuclear power plants in upcoming   years  generating    gigawatts according to obtained documents  after rape and forcing inmates to do oral sex  british soldiers could face charges for possible war crimes committed in iraq western australian rooftop solar systems producing more energy than its biggest turbine iranian leaders website posts controversial image comparing saudi arabia to isis after bahrain  sudan expels iranian ambassador from khartoum saudi arabia to cut off all air traffic with iran  saudi fm hezbollah sets off large border bomb targeting idf heavy vehicles iranian diplomats given    hours to leave saudi arabia bbc news  migrant crisis  sweden border checks come into force teachers claim the politics of austerity is leaving scottish schoolchildren so hungry they have to steal from their classmates just to be able to eat  the aftermath of a muslim cleric s execution in saudi arabia   al nimrs death  which al nimrs brother told the associated press came as a surprise to even their own family  was seen by some as a warning to individuals  particularly shiites  against seeking political reforms  iran     arrested for attack on saudi embassy oil prices jump over   pct on saudi arabia  iran tensions'